[submodule "42_evaluation"]
	path = 42_evaluation
	url = git@github.com:phm-aguiar/42_evaluation.git
[submodule "Level_0/42_WarnUp"]
	path = Level_0/42_WarnUp
	url = git@github.com:phm-aguiar/42_WarnUp.git
[submodule "Level_2/42_push_swap"]
	path = Level_2/42_push_swap
	url = git@github.com:phm-aguiar/42_push_swap.git
[submodule "Level_2/42_push_swap_radix"]
	path = Level_2/42_push_swap_radix
	url = git@github.com:phm-aguiar/42_push_swap_radix.git
[submodule "Level_1/42_exam_nv2"]
	path = Level_1/42_exam_nv2
	url = git@github.com:phm-aguiar/42_exam_nv2.git
[submodule "Level_1/42_minitalk"]
	path = Level_1/42_minitalk
	url = git@github.com:phm-aguiar/42_minitalk.git
[submodule "Level_1/42_so_long"]
	path = Level_1/42_so_long
	url = git@github.com:phm-aguiar/42_so_long.git
[submodule "Level_1/42_get_next_line"]
	path = Level_1/42_get_next_line
	url = git@github.com:phm-aguiar/42_get_next_line.git
[submodule "Level_1/42_ft_printf"]
	path = Level_1/42_ft_printf
	url = git@github.com:phm-aguiar/42_ft_printf.git
