[submodule "42_WarnUp"]
	path = 42_WarnUp
	url = git@github.com:phm-aguiar/42_WarnUp.git
[submodule "42_libft"]
	path = 42_libft
	url = git@github.com:phm-aguiar/42_libft.git
[submodule "42_get_next_line"]
	path = 42_get_next_line
	url = git@github.com:phm-aguiar/42_get_next_line.git
